.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.users{
    display: block;
    border: 1px;
    width: 400px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.user-header{
    text-align: center;
    padding-top: 10px;
}

.user-image{
    border-radius: 40px;
}